@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Hello Mohamad.</h1>
<p>Press <a href="https://localhost:7036">Here</a> If You want to go home . </p>