@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">First Last Table!</h1>
    <p>This page is using from HTML tables. </p>

    <table bgcolor="lightgrey">
        
        <tr bgcolor="grey">
            <th>FirstName</th>
             <th>LastName</th>

        </tr>

        <tr>
            <td><a href="https://localhost:7036/mohamad">Mohamad</a></td>
            <td>Karami</td>
        </tr>

        <tr>
            <td><a href="https://localhost:7036/parsa">Parsa</a></td>
            <td>Safari</td>
        </tr>

        <tr>
            <td><a href="https://localhost:7036/arman">Arman</a></td>
            <td>Akbari</td>
        </tr>
        







    </table>

</div>


